 <header>
    <div class="contenedor-ico">
        <img src="../../../assets/img/code-icon.png">
    </div> 
    <div class="toggle" onclick="toggleMenu()"> </div>       
    <button  class="Sdark active" id="switch">
        <mat-icon>dark_mode</mat-icon>
        
    </button>          
    <nav class="navigation">
        <button (click)="toServices()" id="toServices">Servicios</button>
        <button (click)="toProject()" id="toProject">Proyectos</button>
        <button (click)="toFooter()" id="toFooter">Contacto</button>
    </nav>
   
 </header>
 
