    
<section class="middle">
    <svg  class="wavex" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#7d73f9" fill-opacity="1" d="M0,192L48,202.7C96,213,192,235,288,208C384,181,480,107,576,112C672,117,768,203,864,213.3C960,224,1056,160,1152,133.3C1248,107,1344,117,1392,122.7L1440,128L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>
</section>
<section class="services-about" id="services-about">
    <div class="services">
        <h3 id="turning" #turning>convertir ideas en <span>productos</span> es mi pasión</h3>
        <div class="lista">

            <div class="item hidden" appIntersection>
                <span class="material-symbols-outlined">code</span>
                <div class="list-text">
                    <h4>Desarrollo Web Dinamico </h4>
                    <p>Los sitios web no tienen que ser estáticos, me encanta hacer que las páginas vengan a la vida. </p>
                </div>
            </div>
    
            <div class="item hidden" appIntersection>   
                <span class="material-symbols-outlined">design_services</span>
                <div class="list-text">
                    <h4>Diseño y creatividad</h4>
                    <p> Diseños limpios y modernos optimizados para que sea funcional</p>
                </div>
            </div>

            <div class="item hidden" appIntersection>
                <span class="material-symbols-outlined">auto_graph</span>
                <div class="list-text">
                    <h4>Responsive</h4>
                    <p>Mis diseños funcionarán en cualquier dispositivo </p>
                </div>
            </div>

            <div class="item hidden" appIntersection>
                <span class="material-symbols-outlined">developer_mode</span>
                <div class="list-text">
                    <h4>UX Desing</h4>
                    <p> Hacer diseños para que el usuario tenga una experiencia agradable</p>
                </div>
            </div>
        </div> 
    </div>

    <div id="aboutMe">

        <div class="Perfil-AboutMe izquierda" appIntersectionVisible>
            <img src="../../../assets/img/cup2.png" alt="lucianny Robertiz">
            <h2> Hi, I’m <span>Lucianny</span>. Nice to meet you.</h2> 
            <h3> Soy una ingeniera de sistemas apasionada por la innovacion en la tecnologia y con la misma proporcion amante del diseño,
                estos años me he dedicado a practicar y crear sitios webs, diseños para empresas y marcas.
                Mi intéres no sólo se queda ahi, me considero un alma multifacetica con interes de aprender sobre IA, Apps, Marketing Digital y
                posicionamiento SEO.</h3>
        </div>

        <div class="skills-tools derecha" appIntersectionVisible>
            
            <div class="skill-AboutMe">
                <div class="skill">
                    <div class="skill-name">HTML</div>
                    <div class="container-porcent">
                      <div class="skill-porcent" style="width:90%" appIntersectionFadeIn> 
                      </div>
                    </div>
                    <div class="skill-number">90%</div>
                    </div>
                <div class="skill">
                      <div class="skill-name">CSS</div>
                      <div class="container-porcent">
                        <div class="skill-porcent" style="width:80%" appIntersectionFadeIn>   </div>
                      </div>
                      <div class="skill-number">80%</div>
                    </div>
                <div class="skill">
                        <div class="skill-name">JS</div>
                        <div class="container-porcent">
                          <div class="skill-porcent" style="width:70%" appIntersectionFadeIn> 
                          </div>
                        </div>
                        <div class="skill-number">70%</div>
                    </div>
                <div class="skill">
                        <div class="skill-name">Angular</div>
                        <div class="container-porcent">
                            <div class="skill-porcent" style="width:80%" appIntersectionFadeIn> 
                            </div>
                        </div>
                        <div class="skill-number">80%</div>
                    </div>
                <div class="skill">
                        <div class="skill-name">JQUERY</div>
                        <div class="container-porcent">
                            <div class="skill-porcent" style="width:80%" appIntersectionFadeIn> 
                            </div>
                        </div>
                        <div class="skill-number">80%</div>
                    </div>
                <div class="skill">
                        <div class="skill-name">NODE.JS</div>
                        <div class="container-porcent">
                            <div class="skill-porcent" style="width:50%" appIntersectionFadeIn> 
                            </div>
                        </div>
                        <div class="skill-number">50%</div>
                    </div>
                <div class="skill">
                        <div class="skill-name">TS</div>
                        <div class="container-porcent">
                            <div class="skill-porcent" style="width:60%" appIntersectionFadeIn> 
                            </div>
                        </div>
                        <div class="skill-number">60%</div>
                    </div>
                <div class="skill">
                        <div class="skill-name">UX design</div>
                        <div class="container-porcent">
                            <div class="skill-porcent" style="width:60%" appIntersectionFadeIn> 
                            </div>
                        </div>
                        <div class="skill-number">60%</div>
                    </div>
                <div class="skill">
                        <div class="skill-name">MongoDB</div>
                        <div class="container-porcent">
                            <div class="skill-porcent" style="width:50%" appIntersectionFadeIn> 
                            </div>
                        </div>
                        <div class="skill-number">50%</div>
                    </div>

                
            </div>
            
            <div class="tools">
                <h5>Tools</h5>
                    <!-- saas icon -->
                    <img src="../../../assets/img/icons-tools/sass-.png" alt="sass" class="shine" appIntersectionShine>
               
                    <!-- gitHub -->
                    <img src="../../../assets/img//icons-tools/github.png" alt="github" class="shine" appIntersectionShine>

                    <!-- illustartor -->
                    <img src="../../../assets/img//icons-tools/ilustrador.png" alt="adobe illustartor" class="shine" appIntersectionShine>

                    <!-- figma -->
                    <img src="../../../assets/img/icons-tools/figma.png" alt="figma" class="shine">

                    <!-- visual studio code -->
                    <img src="../../../assets/img/icons-tools/visual-studio.png" alt="visual studio" class="shine" appIntersectionShine>
            </div>
        </div>
    </div>
</section>