
<div class="scene">
    <div class="sky">
        <div class="text">
        <h1>Hola, soy <strong>Lucianny Robertiz</strong></h1>
        <h2> y soy <strong id="text-animated">Programadora web</strong></h2>
        </div>
        <div class="sun"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
    </div>
    <!-- <div class="ocean"> -->
        <section id="wave">
            <div class="waves" id="wave1"></div>
            <div class="waves" id="wave2"></div>
            <div class="waves" id="wave3"></div>
            <div class="waves" id="wave4"></div>
        </section>
    <!-- </div> -->
</div>
